<!-- Default box -->
<div class="card" id="card-IDE">
  <div class="card-header">
    <h3 class="card-title">Editor</h3>
    <div class="card-tools">

      <button type="button" class="btn btn-tool" (click)="toggleDebuggerTag()">
        <i class="fas fa-circle"></i>
      </button>

      <button type="button" class="btn btn-tool" (click)="save()">
        <i class="fas fa-save"></i>
      </button>

      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>

    </div>
  </div>

  <div class="card-body" id="ide-container">
    <div id="ide">
      <div id="ide-main">
        <div id="ide-monaco-editor-container">
          <thumder-monaco-editor #editorComponent></thumder-monaco-editor>
        </div>
        <div id="ide-sidebar">
          <!--          <button (click)="toggleDebuggerTag()">Toggle Debugger in cursor</button>-->
          <!--          <button (click)="getListOfTags()">Get List Of Tags</button>-->
        </div>
      </div>


    </div>
  </div>

  <div class="card-footer">
    <button type="button" class="btn btn-success" (click)="changeHeight()">Change Height</button>
    <button type="button" class="btn btn-success" (click)="getListOfTags()">Get List Of Tags</button>
    <button type="button" class="btn btn-success" (click)="toggleDebuggerTag()">Toggle Debugger in cursor</button>
  </div>
</div>
<!-- /.card -->
