<div class="card">
  <div class="card-header">
    <h3 class="card-title">Xterm</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" (click)="this.test()">
        <i class="fas fa-bug"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div id="ide-console">
      <THUMDER-xterm [data]="text" (onKey)="onKey($event)"></THUMDER-xterm>
    </div>
  </div>

  <div class="card-footer">
  </div>
</div>
