<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img src="assets/img/admin-lte/img/AdminLTELogo.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light" id="title-app">THUMDER</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://avatars.githubusercontent.com/u/23743639" class="img-circle elevation-2"
             alt="User Image">
      </div>
      <div class="info">
        <a [routerLink]="['/auth/profile']" class="d-block">by nonodev96</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" data-accordion="false" role="menu">

        <ng-container *ngIf="authService.isLoggedIn">
          <li role="menuitem" class="nav-header">Auth</li>
          <li role="menuitem" class="nav-item has-treeview">
            <a class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p id="ComponentsID">
                Components
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" role="menu">
              <li *ngFor="let menu of AUTH_ROUTES_ASIDE;" class="nav-item" role="menuitem">
                <a class="nav-link" (click)="goToPage($event, menu)">
                  <i class="far fa-circle nav-icon"></i>
                  {{ 'NAVIGATION.' + menu.lang | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ng-container>

        <li role="menuitem" class="nav-header">Externs</li>
        <li role="menuitem" class="nav-item has-treeview">
          <a class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Pages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" role="menu">
            <li role="menuitem" class="nav-item">
              <a [routerLink]="['/login']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Login</p>
              </a>
            </li>
            <li role="menuitem" class="nav-item">
              <a [routerLink]="['/register']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Register</p>
              </a>
            </li>
            <li role="menuitem" class="nav-item">
              <a [routerLink]="['/forgot-password']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Forgot password</p>
              </a>
            </li>
          </ul>
        </li>

        <li role="menuitem" class="nav-header">{{ 'NAVIGATION.ABOUT'| translate }}</li>
        <li role="menuitem" class="nav-item has-treeview">
          <a class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              {{ 'NAVIGATION.ABOUT'| translate }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" role="menu">

            <li role="menuitem" class="nav-item">
              <a [routerLink]="['/landing/about']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>{{ 'NAVIGATION.ABOUT'| translate }}</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
