[production]
last 5 Chrome versions
last 5 ChromeAndroid versions
last 5 Firefox versions
last 5 FirefoxAndroid versions
last 5 Edge major versions
last 2 Safari major versions
last 2 ios_saf major versions
not IE 11
not IE 10
not IE 9

[development]
last 1 Chrome version
last 1 Firefox version
last 1 Edge version
