<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-12">
      <button class="btn btn-outline-primary btn-lg" (click)="addItem()">Add Item</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" style="height: 100vh">
      <gridster [options]="options">
        @for (item of dashboard; track item) {
          <gridster-item [item]="item">
            <!-- your content here -->
            @if (item.calculator) {
              <div class="gridster-item-content">
                <view-calculator>
                  <button type="button" class="btn btn-tool drag-handler">
                    <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                  </button>
                </view-calculator>
              </div>
            }
            @if (item.pipeline) {
              <div class="gridster-item-content">
                <view-pipeline>
                  <button type="button" class="btn btn-tool drag-handler">
                    <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                  </button>
                </view-pipeline>
              </div>
            }
            @if (item.itemVoid) {
              <button type="button" class="btn btn-outline-primary btn-lg"
                (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
                <i class="fas fa-trash-alt" aria-hidden="true"></i>
              </button>
            }
          </gridster-item>
        }
      </gridster>
    </div>
  </div>
</div>
