<div class="card" id="registers_Control_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_CONTROL' | translate}}</h3>
    <div class="card-tools">
      <button class="btn btn-tool {{ typeDataSelected === 'Byte' ? 'btn--active' : '' }}" title="ASCII"
              (click)="changeTypeDataInTableRegisters('Byte')">
        <i class="fas fa-table"></i> Bytes
      </button>
      <button class="btn btn-tool {{ typeDataSelected === 'HalfWord' ? 'btn--active' : '' }}" title="ASCII"
              (click)="changeTypeDataInTableRegisters('HalfWord')">
        <i class="fas fa-table"></i> HalfWord
      </button>
      <button class="btn btn-tool {{ typeDataSelected === 'Word' ? 'btn--active' : '' }}" title="ASCII"
              (click)="changeTypeDataInTableRegisters('Word')">
        <i class="fas fa-table"></i> Word
      </button>
      <button class="btn btn-tool {{ typeDataSelected === 'ASCII' ? 'btn--active' : '' }}" title="ASCII"
              (click)="changeTypeDataInTableRegisters('ASCII')">
        <i class="fas fa-table"></i> ASCII
      </button>

      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-EditRegister">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 [style.height.vh]="maxHeightCard"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSource" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.registers[element].binary | binary_32_64_to_hexadecimal) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell class="width-40" *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-40" *matCellDef="let register">
            {{ (machine.registers[register].binary) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Uint8Array">
          <th mat-header-cell class="width-20" *matHeaderCellDef>{{'MACHINE.Uint8Array' | translate}}</th>
          <td mat-cell class="width-20" *matCellDef="let element">
            {{ (machine.registers[element].binary | binary_to_number | uint_IEEE754_32) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Byte">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.BYTES' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers[element].binary | binary32_to_bytes }}
          </td>
        </ng-container>
        <ng-container matColumnDef="HalfWord">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.HALF_WORD' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers[element].binary | binary32_to_halfword }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Word">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.WORD' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers[element].binary | binary32_to_word }}
          </td>
        </ng-container>
        <ng-container matColumnDef="ASCII">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.ASCII' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers[element].binary | binary32_to_ascii }}
          </td>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="card" id="registers_R_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_INTEGER' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-EditRegister">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 [style.height.vh]="maxHeightCard"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceR" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsR; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            R-{{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell class="width-20" *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-20" *matCellDef="let element">
            {{ (machine.registers.R[element].binary | binary_32_64_to_hexadecimal) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell class="width-50" *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-50" *matCellDef="let element">
            {{ (machine.registers.R[element].binary) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Integer">
          <th mat-header-cell class="width-20" *matHeaderCellDef>{{'MACHINE.INTEGER' | translate}}</th>
          <td mat-cell class="width-20" *matCellDef="let element">
            {{ machine.registers.R[element].binary | binary_to_number }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="card" id="registers_F_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_FLOAT' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-EditRegister">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 [style.height.vh]="maxHeightCard"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceF" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsF; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsF;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            F{{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let address">
            {{ (machine.registers.F[address].binary | binary_32_64_to_hexadecimal) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell class="width-50" *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-50" *matCellDef="let address">
            {{ (machine.registers.F[address].binary) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Uint8Array">
          <th mat-header-cell class="width-20" *matHeaderCellDef>{{'MACHINE.Uint8Array' | translate}}</th>
          <td mat-cell class="width-20" *matCellDef="let address">
            {{ (machine.registers.F[address].binary | binary32_to_decimal_IEEE754 | uint_IEEE754_32) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Float">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.FLOAT' | translate}} IEEE 754 32 bits</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers.F[element].binary | binary32_to_decimal_IEEE754 }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="card" id="registers_D_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_DOUBLE' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-EditRegister">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 [style.height.vh]="maxHeightCard"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceD" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsD; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsD;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            F{{ element }} - F{{ element + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let address">
            {{ (machine.registers.F[address].binary + machine.registers.F[address + 1].binary | binary_32_64_to_hexadecimal) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell class="width-50" *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-50" *matCellDef="let address">
            {{ (machine.registers.F[address].binary + machine.registers.F[address + 1].binary) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Uint8Array">
          <th mat-header-cell class="width-20" *matHeaderCellDef>{{'MACHINE.Uint8Array' | translate}}</th>
          <td mat-cell class="width-20" *matCellDef="let address">
            {{ (machine.registers.F[address].binary + machine.registers.F[address + 1].binary | binary64_to_decimal_IEEE754 | uint_IEEE754_64) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Double">
          <th mat-header-cell class="width-10" *matHeaderCellDef>{{'MACHINE.DOUBLE' | translate}} IEEE 754 64 bits</th>
          <td mat-cell class="width-10" *matCellDef="let address">
            {{ machine.registers.F[address].binary + machine.registers.F[address + 1].binary | binary64_to_decimal_IEEE754 }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>


<THUMDER-edit-register-binary32></THUMDER-edit-register-binary32>
