<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Fixed Header Table</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 500px;">
        <div class="row">
          <div class="col-6">
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>Registers</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of list_first_registers">
                <td>{{key}}</td>
                <td>{{machine.registers[key].value | hexadecimal | uppercase | leftPadFilter: 32}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>D</th>
                <th>D-Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of this.machine.registers.D; let i=index">
                <td>D-{{i}}</td>
                <td>0x{{ machine.registers.D[i].value | hexadecimal | uppercase | leftPadFilter: 64 }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>D</th>
                <th>D-Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of this.machine.registers.R; let i=index">
                <td>R-{{i}}</td>
                <td>0x{{ machine.registers.R[i].value | hexadecimal | uppercase | leftPadFilter: 32 }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-6">
            <table class="table table-head-fixed text-nowrap">
              <thead>
              <tr>
                <th>F</th>
                <th>F-Value</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let key of this.machine.registers.F; let i=index">
                <td>F-{{i}}</td>
                <td>0x{{ machine.registers.F[i].value | hexadecimal | uppercase | leftPadFilter: 32 }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
