<div class="card" id="registers_Control_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_CONTROL' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-RegistersControl">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 400px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSource" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Decimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.DECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers[element].value }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.registers[element].value | hexadecimal | uppercase) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-70" *matCellDef="let element">
            {{ (machine.registers[element].value | binary: 32) }}
          </td>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="modal fade" id="modal-RegistersControl" tabindex="-1" role="dialog"
     aria-labelledby="modalTitle-Control" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="modalTitle-Control">{{'MACHINE.EDIT_REGISTER_CONTROL' | translate}} {{registerToEditControl}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">

          <div class="row">
            <div class="col-sm-12">
              <!-- select -->
              <div class="form-group">
                <label>{{'MACHINE.SELECT_REGISTER' | translate}}</label>
                <select class="form-control" (change)="selectOptionRegisterControl($event.target)">
                  <ng-template ngFor let-item [ngForOf]="list_REGISTERS" let-currentElementIndex="index">
                    <option [value]="item">{{item}}</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="itemSelectedEditControlId">{{'MACHINE.REGISTER' | translate}}</label>
                <input type="number" class="form-control" id="itemSelectedEditControlId"
                       placeholder="{{'FORMS.ENTER_VALUE' | translate}}"
                       (change)="changeControlRegister($event.target)"
                       value="{{ this.machine.registers[registerToEditControl].value }}">
              </div>
              <p>{{'MACHINE.HEXADECIMAL' | translate}}:
                <strong>{{ (machine.registers[registerToEditControl].value | hexadecimal | uppercase) }}</strong></p>
              <p>{{'MACHINE.BINARY' | translate}}:
                <strong>{{ (machine.registers[registerToEditControl].value | binary: dataRegisters.DEFAULT.size) }}</strong>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{'FORMS.SAVE' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!--

Registers vector

-->


<div class="card" id="registers_R_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_INTEGER' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-RegistersVector"
              (click)="prepareModal('R')">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-plus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 400px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceR" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            R-{{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Decimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.DECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers.R[element].value }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.registers.R[element].value | hexadecimal | uppercase) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-70" *matCellDef="let element">
            {{ (machine.registers.R[element].value | binary: dataRegisters.R.size) }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="card" id="registers_F_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_FLOAT' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-RegistersVector"
              (click)="prepareModal('F')">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 400px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceF" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            F-{{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Decimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.DECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers.F[element].value }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.registers.F[element].value | hexadecimal | uppercase) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-70" *matCellDef="let element">
            {{ (machine.registers.F[element].value | binary: dataRegisters.F.size) }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div class="card" id="registers_D_id">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.REGISTERS_DOUBLE' | translate}}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#modal-RegistersVector"
              (click)="prepareModal('D')">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 400px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceD" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.REGISTER' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            D-{{ element }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Decimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.DECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.registers.D[element].value }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.registers.D[element].value | hexadecimal | uppercase) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell class="width-70" *matCellDef="let element">
            {{ (machine.registers.D[element].value | binary: dataRegisters.D.size) }}
          </td>
        </ng-container>
      </table>

    </cdk-virtual-scroll-viewport>
  </div>
</div>

<!--
<div class="card">

  <div class="card-header">
    <h3 class="card-title">Registers Double</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>

  <div class="card-body table-responsive p-0" style="height: 500px;">
    <table class="table table-head-fixed text-nowrap">
      <thead>
      <tr>
        <th class="width-10">D</th>
        <th class="width-10">D-Value B(10)</th>
        <th class="width-10">D-Value B(16)</th>
        <th class="width-70">D-Value B(2)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let key of this.machine.registers.D; let i=index">
        <td>D-{{i}}</td>
        <td>{{ machine.registers.D[i].value }}</td>
        <td>{{ machine.registers.D[i].value | hexadecimal | uppercase }}</td>
        <td>0x{{ machine.registers.D[i].value | binary: 64 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
-->

<div class="modal fade" id="modal-RegistersVector" tabindex="-1" role="dialog"
     aria-labelledby="modalTitle-RegistersVector" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="modalTitle-RegistersVector">{{'MACHINE.EDIT_REGISTER' | translate}} {{registerToEdit}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">

          <div class="row">
            <div class="col-sm-12">
              <!-- select -->
              <div class="form-group">
                <label>{{'MACHINE.SELECT_REGISTER_' + registerToEdit | translate}} {{registerToEdit}}</label>
                <select class="form-control" (change)="selectOptionRegisterVector($event.target)">
                  <ng-template ngFor let-item [ngForOf]="createRange(dataRegisters[registerToEdit].registers)"
                               let-currentElementIndex="index">
                    <option [value]="currentElementIndex">{{registerToEdit}} {{currentElementIndex}}</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="itemSelectedEditId">Register {{registerToEdit}}-{{itemSelected}}</label>
                <input type="number" class="form-control" id="itemSelectedEditId"
                       placeholder="{{'FORMS.ENTER_VALUE' | translate}}"
                       (change)="changeRegister($event.target)"
                       value="{{ this.machine.registers[registerToEdit][itemSelected].value }}">
              </div>
              <p>{{'MACHINE.HEXADECIMAL' | translate}}:
                <strong>{{ (machine.registers[registerToEdit][itemSelected].value | hexadecimal | uppercase) }}</strong>
              </p>
              <p>{{'MACHINE.BINARY' | translate}}:
                <strong>{{ (machine.registers[registerToEdit][itemSelected].value | binary: dataRegisters[registerToEdit].size) }}</strong>
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">{{'FORMS.SAVE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
