<div class="card" id="pixiCardCycleClockDiagram">
  <div class="card-header">
    <h3 class="card-title"><span data-card-widget="collapse">
      {{'MACHINE.CYCLE_CLOCK_DIAGRAM' | translate}}</span> |
      <i class="far {{ (inCanvas) ? 'fa-hand-rock': 'fa-hand-paper' }}"></i>
    </h3>
    <div class="card-tools">

      <button type="button" class="btn btn-tool" (click)="this.pixi_CycleClockDiagramComponent.moveBottom()">
        <i class="fas fa-arrow-up"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="this.pixi_CycleClockDiagramComponent.moveTop()">
        <i class="fas fa-arrow-down"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="this.pixi_CycleClockDiagramComponent.moveRight()">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button type="button" class="btn btn-tool" (click)="this.pixi_CycleClockDiagramComponent.moveLeft()">
        <i class="fas fa-arrow-right"></i>
      </button>

      <!-- Drag button -->
      <ng-content></ng-content>

      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <thumder-pixi-cycle-clock-diagram
      (inCanvasEventEmitter)="handleInCanvas($event)"></thumder-pixi-cycle-clock-diagram>
  </div>
  <div class="card-footer">
    <app-modal [modalID]="'modal-info-pixi-id'"
               [buttonText]="'MODAL.INFO'"
               [modalType]=""
               [buttonSize]="'btn-sm'"
               [modalTitle]="'MODAL.INFO'"
               [buttonCloseText]=""
               [buttonSaveText]="">
      <h2>Short cuts</h2>
      <ol>
        <li><strong>r</strong>: Reset</li>
        <li><strong>n</strong>: Next step</li>
        <li><strong>m</strong>: Next step x10</li>
        <li>Move
          <ol>
            <li><strong>i</strong>: Move top</li>
            <li><strong>k</strong>: Move down</li>
            <li><strong>j</strong>: Move left</li>
            <li><strong>l</strong>: Move right</li>
          </ol>
        </li>
      </ol>
    </app-modal>
  </div>
</div>
