<!--<table>

  <cdk-virtual-scroll-viewport [itemSize]="18 * 7">
    <ng-container *cdkVirtualFor="let item of [1,2,3,4,5,6,7,8,9,10,11];
                       let index = index;
                       let count = count;
                       let first = first;
                       let last = last;
                       let even = even;
                       let odd = odd;" [class.example-alternate]="odd">
      <tr>
        <td>Item:</td>
        <td>{{index}}</td>
        <td>{{machineService.memory.get(index)}}</td>
      </tr>

    </ng-container>
  </cdk-virtual-scroll-viewport>

</table>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Bordered Table</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <cdk-virtual-scroll-viewport tvsItemSize class="wrapper mat-elevation-z2">

            <table mat-table [dataSource]="dataSource" [ngClass]="'table table-hover text-nowrap'">

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <ng-container matColumnDef="id">
                <th *matHeaderCellDef>No.</th>
                <td *matCellDef="let element">{{element.id}}</td>
              </ng-container>

              <ng-container matColumnDef="decimal">
                <th *matHeaderCellDef>Name</th>
                <td *matCellDef="let element">{{machine.memory[element.id].value}}</td>
              </ng-container>

              <ng-container matColumnDef="hexadecimal">
                <th *matHeaderCellDef>Name 2</th>
                <td *matCellDef="let element">{{ (machine.memory[element.id].value | hexadecimal | uppercase) }}</td>
              </ng-container>

            </table>

          </cdk-virtual-scroll-viewport>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
