<div class="card">
  <div class="card-header">
    <h3 class="card-title">Memory</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 800px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceMemory" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMemory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMemory;"></tr>
        <ng-container matColumnDef="Register">
          <th mat-header-cell *matHeaderCellDef>Register</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ element | leftPadFilter: 5 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Decimal">
          <th mat-header-cell *matHeaderCellDef>Decimal</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ machine.memory[element].value }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>Hexadecimal</th>
          <td mat-cell class="width-10" *matCellDef="let element">
            {{ (machine.memory[element].value | hexadecimal | uppercase) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>Binary</th>
          <td mat-cell class="width-70" *matCellDef="let element">
            {{ (machine.memory[element].value | binary: 32) }}
          </td>
        </ng-container>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>


<button class="btn btn-primary" (click)="change()">
  Change
</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<!-- TODO -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
