<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.MEMORY' | translate}}</h3>
    <div class="card-tools">
      <button class="btn btn-tool {{ btn__active === 'byte' ? 'btn--active' : '' }}" title="Bytes"
              (click)="changeTypeDataInTable('byte')">
        <i class="fas fa-table"></i> Bytes
      </button>
      <button class="btn btn-tool {{ btn__active === 'h-word' ? 'btn--active' : '' }}" title="Half Word"
              (click)="changeTypeDataInTable('h-word')">
        <i class="fas fa-table"></i> Half Word
      </button>
      <button class="btn btn-tool {{ btn__active === 'word' ? 'btn--active' : '' }}" title="Word"
              (click)="changeTypeDataInTable('word')">
        <i class="fas fa-table"></i> Word
      </button>
      <button class="btn btn-tool {{ btn__active === 's-f-point' ? 'btn--active' : '' }}" title="Float"
              (click)="changeTypeDataInTable('s-f-point')">
        <i class="fas fa-table"></i> Float
      </button>
      <button class="btn btn-tool {{ btn__active === 'd-f-point' ? 'btn--active' : '' }}" title="Double"
              (click)="changeTypeDataInTable('d-f-point')">
        <i class="fas fa-table"></i> Double
      </button>
      <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#editMemoryModal"
              id="editMemoryModalButton">
        <i class="fas fa-edit"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <cdk-virtual-scroll-viewport tvsItemSize="48"
                                 headerHeight="56"
                                 style="height: 800px;"
                                 class="wrapper-table mat-elevation-z2">
      <table mat-table matSort [dataSource]="dataSourceMemory" [ngClass]="'table-layout'">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMemory; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMemory;"></tr>
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.ADDRESS' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>0x{{ 4 * address | hexadecimal | uppercase | leftPadFilter: 8 }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Hexadecimal">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HEXADECIMAL' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (machine.memory[address].binary | binary_to_hex) }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Binary">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (machine.memory[address].binary | pad_start: {maxLength: 32, fillString: '0'}) }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="BinaryFloat">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY_FLOAT' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (machine.memory[address].binary | pad_start: {maxLength: 32, fillString: '0'}) }}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="BinaryDouble">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.BINARY_DOUBLE' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (machine.memory[address].binary | pad_start: {maxLength: 32, fillString: '0'}) }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Address-0">
          <th mat-header-cell class="visible-lg-xl-table-cell" *matHeaderCellDef>{{'MACHINE.ADDRESS' | translate}}+0
          </th>
          <td mat-cell class="visible-lg-xl-table-cell" *matCellDef="let address">
            <p>{{ getBinaryOfMemory_Byte(address, 0)}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Address-1">
          <th mat-header-cell class="visible-lg-xl-table-cell" *matHeaderCellDef>{{'MACHINE.ADDRESS' | translate}}+1
          </th>
          <td mat-cell class="visible-lg-xl-table-cell" *matCellDef="let address">
            <p>{{ getBinaryOfMemory_Byte(address, 1)}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Address-2">
          <th mat-header-cell class="visible-lg-xl-table-cell" *matHeaderCellDef>{{'MACHINE.ADDRESS' | translate}}+2
          </th>
          <td mat-cell class="visible-lg-xl-table-cell" *matCellDef="let address">
            <p>{{ getBinaryOfMemory_Byte(address, 2)}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="Address-3">
          <th mat-header-cell class="visible-lg-xl-table-cell" *matHeaderCellDef>{{'MACHINE.ADDRESS' | translate}}+3
          </th>
          <td mat-cell class="visible-lg-xl-table-cell" *matCellDef="let address">
            <p>{{ getBinaryOfMemory_Byte(address, 3)}}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Bytes">
          <th mat-header-cell class="visible-lg-xl-table-cell" *matHeaderCellDef>{{'MACHINE.BYTE' | translate}}</th>
          <td mat-cell class="visible-lg-xl-table-cell" *matCellDef="let address">
            <p>
              {{ getBinaryOfMemory_Byte(address, 0) | binary_byte_to_number}} -
              {{ getBinaryOfMemory_Byte(address, 1) | binary_byte_to_number}} -
              {{ getBinaryOfMemory_Byte(address, 2) | binary_byte_to_number}} -
              {{ getBinaryOfMemory_Byte(address, 3) | binary_byte_to_number}}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="HalfWord">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.HALF_WORD' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>
              {{ halfWordToNumber(getBinaryOfMemory_HalfWord(address, 0)) }} -
              {{ halfWordToNumber(getBinaryOfMemory_HalfWord(address, 1)) }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Word">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.WORD' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ wordToNumber(getBinaryOfMemory_Word(address)) }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Float">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.FLOAT' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (getBinaryOfMemory_Float(address) | decimal_IEEE754_32) }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Double">
          <th mat-header-cell *matHeaderCellDef>{{'MACHINE.DOUBLE' | translate}}</th>
          <td mat-cell *matCellDef="let address">
            <p>{{ (getBinaryOfMemory_Double(address) | decimal_IEEE754_64) }}</p>
          </td>
        </ng-container>

      </table>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<!-- Modal -->
<!-- TODO -->
<div class="modal fade" id="editMemoryModal" tabindex="-1" role="dialog" aria-labelledby="editMemoryModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMemoryModalLabel">{{'MACHINE.EDIT_MEMORY' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row">

            <div class="col-sm-12">
              <h4>{{'MACHINE.TYPE_DATA' | translate}}</h4>
            </div>

            <div class="col-sm-4 col-lg-4">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeData"
                       id="typeDataByte" value="byte"
                       (change)="changeTypeData($event.target)">
                <label class="form-check-label" for="typeDataByte">
                  {{'MACHINE.BYTE' | translate}}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeData"
                       id="typeDataHalfWord" value="h-word"
                       (change)="changeTypeData($event.target)">
                <label class="form-check-label" for="typeDataHalfWord">
                  {{'MACHINE.HALF_WORD' | translate}}
                </label>
              </div>
            </div>

            <div class="col-sm-4 col-lg-4">
              <!-- checked -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeData"
                       id="typeDataWord" value="word" checked
                       (change)="changeTypeData($event.target)">
                <label class="form-check-label" for="typeDataWord">
                  {{ 'MACHINE.WORD' | translate }}
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeData"
                       id="typeDataSimpleFloatingPoint" value="s-f-point"
                       (change)="changeTypeData($event.target)">
                <label class="form-check-label" for="typeDataSimpleFloatingPoint">
                  {{ 'MACHINE.SIMPLE_FLOATING_POINT' | translate }}
                </label>
              </div>
            </div>

            <div class="col-sm-4 col-lg-4">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="typeData"
                       id="typeDataDoubleFloatingPoint" value="d-f-point"
                       (change)="changeTypeData($event.target)">
                <label class="form-check-label" for="typeDataDoubleFloatingPoint">
                  {{ 'MACHINE.DOUBLE_FLOATING_POINT' | translate }}
                </label>
              </div>
            </div>

            <!-- ADDRESS in hexadecimal, multiple of data size -->
            <div class="col-sm-12">
              <label for="itemSelectedEditMemoryId">{{ 'MACHINE.SELECT_ADDRESS' | translate }}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">0x</span>
                </div>
                <input type="text" class="form-control {{ this.addressIsValid ? 'is-valid' : 'is-invalid' }}"
                       id="itemSelectedEditMemoryId" pattern="[a-fA-F\d]+"
                       placeholder="{{ 'FORMS.ENTER_VALUE' | translate }}"
                       [value]="addressMemoryDisplay | hexadecimal | uppercase | leftPadFilter: 8"
                       (change)="changeAddressMemoryToEdit($event.target)">
                <div class="input-group-append">
                  <span class="input-group-text">in hexadecimal</span>
                </div>
              </div>
            </div>

            <!-- VALUE in decimal -->
            <div class="col-sm-12">
              <label for="itemSelectedEditMemoryValueId">{{ 'MACHINE.SET_MEMORY_VALUE' | translate }}</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" id="itemSelectedEditMemoryValueId"
                       placeholder="{{'FORMS.ENTER_VALUE' | translate}}" lang="en"
                       min="0" max="{{ maxValueTypeData[typeData] }}" step="{{stepTypeData[typeData]}}"
                       [value]="valueInSection"
                       (keyup)="changeMemory($event.target)">
                <div class="input-group-append">
                  <span class="input-group-text">in decimal</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <p>Min value: 0</p>
            </div>
            <div class="col-sm-6">
              <p>Max value: {{ maxValueTypeData[typeData] }}</p>
            </div>

            <div class="col-sm-6">
              <p id="decValue"><strong>{{ 'MACHINE.DECIMAL' | translate }}:</strong>
                {{ (valueInSection) }}
              </p>
            </div>
            <div class="col-sm-6">
              <p id="octalValue"><strong>{{ 'MACHINE.OCTAL' | translate }}:</strong>
                {{ (valueInSection | decimalToBasePipe: 8) }}
              </p>
            </div>
            <div class="col-sm-6">
              <p id="hexValue"><strong>{{ 'MACHINE.HEXADECIMAL' | translate }}:</strong>
                {{ (valueInSection | hexadecimal | uppercase) }}
              </p>
            </div>
            <div class="col-sm-6">
              <p id="indexValue"><strong>{{ 'MACHINE.INDEX' | translate }}:</strong>
                {{ (addressMemoryToEdit) }}
              </p>
            </div>

            <div class="col-sm-3">
              <p><strong>{{ 'MACHINE.ADDRESS' | translate }}:</strong></p>
              <!-- address -->
              <p class="text-right" id="address" style="line-height: 2em">
                0x{{ (addressMemoryDisplay | hexadecimal | uppercase | leftPadFilter: 8) }}
              </p>
              <!-- address + 32 bits -->
              <p class="text-right" id="next_address" style="line-height: 2em">
                0x{{ (addressMemoryDisplay + 4 | hexadecimal | uppercase | leftPadFilter: 8) }}
              </p>
            </div>
            <div class="col-sm-9">
              <p><strong>{{ 'MACHINE.BINARY' | translate }}:</strong></p>

              <div [innerHTML]="drawDigitsToChangeByTypeData(addressMemoryToEdit)"></div>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'FORMS.CLOSE' | translate}}</button>
        <button type="button" class="btn btn-primary">{{'FORMS.SAVE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
