@charset "UTF-8";
.flag-icon-background, .flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; }

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  line-height: 1em; }
  .flag-icon:before {
    content: " "; }
  .flag-icon.flag-icon-squared {
    width: 1em; }

.flag-icon-esp {
  background-image: url(../flags/4x3/esp.svg); }
  .flag-icon-esp.flag-icon-squared {
    background-image: url(../flags/1x1/esp.svg); }

.flag-icon-gbr {
  background-image: url(../flags/4x3/gbr.svg); }
  .flag-icon-gbr.flag-icon-squared {
    background-image: url(../flags/1x1/gbr.svg); }
