<dx-file-manager id="fileManager"
                 [fileSystemProvider]="fileItems"
                 [height]="height()"
                 currentPath="Widescreen"
                 (onContextMenuItemClick)="onContextMenuItemClick($event)"
                 (onSelectedFileOpened)="onSelectedFileOpened($event)">

  <dxo-permissions
    create="true"
    copy="true"
    move="true"
    delete="true"
    rename="true"
    upload="true"
    download="true">
  </dxo-permissions>
</dx-file-manager>

<button class="btn btn-primary" (click)="this.createNewFile()">New File</button>
<!--
<dx-popup id="photo-popup"
          maxHeight="600"
          closeOnOutsideClick="true"
          [(title)]="imageItemToDisplay.name"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'" class="photo-popup-content">
    <img src="{{imageItemToDisplay.dataItem.url}}" class="photo-popup-image" alt=""/>
  </div>
</dx-popup>
-->
