<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <span data-card-widget="collapse">{{ 'NAVIGATION.CONFIG' | translate }}</span>
    </h3>
  </div>

  <div class="card-body">
    <form>

      <table class="table" aria-describedby="Table with configuration of machine and IDE">
        <tr>
          <th id="CONFIG_FLOATING_POINT_STAGE_CONFIGURATION">{{ 'CONFIG.FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</th>
          <th id="CONFIG_COUNT">{{ 'CONFIG.COUNT' | translate }}</th>
          <th id="CONFIG_DELAY">{{ 'CONFIG.DELAY' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_ADDITION">{{ 'CONFIG.ADDITION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.addition.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.addition.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>
        <tr>
          <th id="CONFIG_MULTIPLICATION">{{ 'CONFIG.MULTIPLICATION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.multiplication.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.multiplication.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>
        <tr>
          <th id="CONFIG_DIVISION">{{ 'CONFIG.DIVISION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.division.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.division.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>

        <tr>
          <td colspan="3">{{ 'CONFIG.MESSAGE_1_FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</td>
        </tr>
        <tr>
          <td colspan="3">{{ 'CONFIG.MESSAGE_2_FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</td>
        </tr>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_SIZE">{{ 'CONFIG.SIZE' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_MEMORY_SIZE">{{ 'CONFIG.MEMORY_SIZE' | translate }}</th>
          <td colspan="2">
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="memorySizeConfiguration"
                   (change)="checkMemorySize($event.target)"
                   class="form-control" min="512" max="1048576" step="8">
          </td>
        </tr>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_ENABLE_FORWARDING">{{ 'CONFIG.ENABLE_FORWARDING' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_ENABLE_FORWARDING_FORM">{{ 'CONFIG.ENABLE_FORWARDING' | translate }}</th>
          <td colspan="2">
            <div class="form-check">
              <input type="checkbox"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="enabledForwardingConfiguration"
                     (change)="updateEnableForwarding($event.target)"
                     class="form-check-input"
                     id="enableForwarding_ID">
              <label class="form-check-label"
                     for="enableForwarding_ID">{{ 'CONFIG.ENABLE_FORWARDING' | translate }}</label>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_AUTO_SAVE">{{ 'CONFIG.AUTO_SAVE' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_AUTO_SAVE_FORM">{{ 'CONFIG.AUTO_SAVE' | translate }}</th>
          <td colspan="2">
            <div class="form-check">
              <input type="checkbox"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="autoSaveConfiguration"
                     (change)="updateAutoSave($event.target)"
                     class="form-check-input"
                     id="autoSaveCheck_ID">
              <label class="form-check-label" for="autoSaveCheck_ID">{{ 'CONFIG.AUTO_SAVE' | translate }}</label>
            </div>
          </td>
        </tr>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_TIME_SIMULATION">{{ 'CONFIG.TIME_SIMULATION' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_TIME_SIMULATION_FORM">{{ 'CONFIG.TIME_SIMULATION' | translate }}</th>
          <td colspan="2">
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="timeSimulationConfiguration"
                   (change)="updateTimeSimulation($event.target)"
                   class="form-control" min="100" max="10000" step="50">
          </td>
        </tr>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_MULTIVIEW">{{ 'CONFIG.MULTIVIEW' | translate }}</th>
        </tr>
        <ng-container cdkDropListGroup>
          <tr>
            <th id="CONFIG_MULTIVIEW_FORM">{{ 'CONFIG.MULTIVIEW' | translate }}</th>
            <td>
              <div class="form-group">
                <div class="form-group-list-drag"
                     cdkDropList
                     #list_1="cdkDropList"
                     [cdkDropListConnectedTo]="[list_2]"
                     [cdkDropListData]="this.multiviewConfiguration.list_1"
                     (cdkDropListDropped)="globals.drop($event)">
                  <ng-container *ngFor="let component of this.multiviewConfiguration.list_1">
                    <div class="form-check" cdkDrag>
                      <div class="form-check-custom-placeholder" *cdkDragPlaceholder></div>
                      <input class="form-check-input" type="checkbox"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="multiviewConfiguration[component]">
                      <label class="form-check-label">{{ ("NAVIGATION." + component) | uppercase | translate }}</label>
                      <i class="fas fa-arrows-alt float-right" aria-hidden="true" cdkDragHandle></i>
                    </div>
                  </ng-container>
                </div>
              </div>
            </td>

            <td>
              <div class="form-group-list-drag"
                   cdkDropList
                   #list_2="cdkDropList"
                   [cdkDropListConnectedTo]="[list_1]"
                   [cdkDropListData]="this.multiviewConfiguration.list_2"
                   (cdkDropListDropped)="globals.drop($event)">
                <ng-container *ngFor="let component of this.multiviewConfiguration.list_2">
                  <div class="form-check" cdkDrag>
                    <div class="form-check-custom-placeholder" *cdkDragPlaceholder></div>
                    <input class="form-check-input" type="checkbox"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="multiviewConfiguration[component]">
                    <label class="form-check-label">{{ ("NAVIGATION." + component) | uppercase | translate }}</label>
                    <i class="fas fa-arrows-alt float-right" aria-hidden="true" cdkDragHandle></i>
                  </div>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>

        <tr>
          <td></td>
          <th colspan="2" id="CONFIG_WEBSOCKET">{{ 'CONFIG.WEBSOCKET' | translate }}</th>
        </tr>
        <tr>
          <th id="CONFIG_WEBSOCKET_FORM"><label for="webSocketConfigurationID">{{ 'CONFIG.WEBSOCKET' | translate }}</label></th>
          <td colspan="2">
            <div class="form-group">
              <input type="text"
                     class="form-control"
                     id="webSocketConfigurationID"
                     [readonly]="this.webSocketUrlIsEditable"
                     [ngModelOptions]="{standalone: true}"
                     (change)="checkIfHttpUrlIsValid($event.target)"
                     [(ngModel)]="webSocketConfiguration.socket_url">
            </div>
          </td>
        </tr>

      </table>

    </form>
  </div>

  <div class="card-footer">
    <button type="reset" class="btn btn-secondary"
            (click)="resetConfiguration()">{{ "FORMS.RESET" | translate }}</button>
    <button type="submit" class="btn btn-primary float-right"
            (click)="updateConfiguration()">{{ "FORMS.SAVE" | translate }}</button>
  </div>
</div>
