<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{ 'CONFIG.FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <form>

      <p>{{ 'CONFIG.MESSAGE_1_FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</p>
      <p>{{ 'CONFIG.MESSAGE_2_FLOATING_POINT_STAGE_CONFIGURATION' | translate }}</p>

      <table class="table">
        <tr>
          <th></th>
          <th>{{ 'CONFIG.COUNT' | translate }}</th>
          <th>{{ 'CONFIG.DELAY' | translate }}</th>
        </tr>
        <tr>
          <th>{{ 'CONFIG.ADDITION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.addition.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.addition.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>
        <tr>
          <th>{{ 'CONFIG.MULTIPLICATION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.multiplication.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.multiplication.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>
        <tr>
          <th>{{ 'CONFIG.DIVISION' | translate }}</th>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.division.count"
                   (change)="checkCount($event.target)" min="1" max="8" step="1" class="form-control">
          </td>
          <td>
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="floatingPointStageConfiguration.division.delay"
                   (change)="checkDelay($event.target)" min="1" max="50" step="1" class="form-control">
          </td>
        </tr>

        <tr>
          <th></th>
          <th colspan="2">{{ 'CONFIG.SIZE' | translate }}</th>
        </tr>
        <tr>
          <th>{{ 'CONFIG.MEMORY_SIZE' | translate }}</th>
          <td colspan="2">
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="memorySize"
                   (change)="checkMemorySize($event.target)"
                   class="form-control" min="512" max="1048576" step="8">
          </td>
        </tr>

        <tr>
          <th></th>
          <th colspan="2">{{ 'CONFIG.AUTO_SAVE' | translate }}</th>
        </tr>
        <tr>
          <th>{{ 'CONFIG.AUTO_SAVE' | translate }}</th>
          <td colspan="2">
            <div class="form-check">
              <input type="checkbox"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="autoSave"
                     (change)="updateAutoSave($event.target)"
                     class="form-check-input"
                     id="autoSaveCheck_ID">
              <label class="form-check-label" for="autoSaveCheck_ID">{{ 'CONFIG.AUTO_SAVE' | translate }}</label>
            </div>
          </td>
        </tr>

        <tr>
          <th></th>
          <th colspan="2">{{ 'CONFIG.TIME_SIMULATION' | translate }}</th>
        </tr>
        <tr>
          <th>{{ 'CONFIG.TIME_SIMULATION' | translate }}</th>
          <td colspan="2">
            <input type="number"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="timeSimulation"
                   (change)="updateTimeSimulation($event.target)"
                   class="form-control" min="100" max="10000" step="50">
          </td>

        </tr>
      </table>

    </form>
  </div>

  <div class="card-footer">
    <button type="reset" class="btn btn-secondary"
            (click)="resetConfiguration()">{{ "FORMS.RESET" | translate }}</button>
    <button type="submit" class="btn btn-primary float-right"
            (click)="updateConfiguration()">{{ "FORMS.SAVE" | translate }}</button>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#configModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="configModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
