<!-- Default box -->
<div class="card">

  <div class="card-header">
    <h3 class="card-title">{{'MACHINE.PIPELINE' | translate}}</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <thumder-pixi-pipeline></thumder-pixi-pipeline>
  </div>

  <div class="card-footer">
    Footer
  </div>

</div>
