<!--
<ng-container [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: [PRIVATE_ROUTES] }">
</ng-container>
<ng-template #recursiveMenu let-menus>
  <ul *ngIf="menus.length>0">
    <li *ngFor="let menu of menus;">
      <a (click)="onItemSelected($event, menu)">
        {{menu.displayName}} </a>
      <ng-template [ngIf]="menu.children">
        <ng-container [ngTemplateOutlet]="recursiveMenu"
                      [ngTemplateOutletContext]="{ $implicit: menu.children }"></ng-container>
      </ng-template>
    </li>
  </ul>
</ng-template>
-->
<ng-template #card let-item='item'>
  <div class="col-lg-3 col-6">
    <div class="small-box bg-blue">
      <div class="inner">
        <h4>{{ ("NAVIGATION." + item.lang) | translate }}</h4>
        <p>{{ item.displayName }}</p>
      </div>
      <div class="icon">
        <i class="{{item.icon}}"></i>
      </div>
      <a class="small-box-footer" [routerLink]="item.routerLink">
        {{ 'PAGES.INDEX.MORE_INFO' | translate }} <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</ng-template>

<!--<div class="card">-->
<!--  <div class="card-body">-->
<h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.MACHINE' | translate }}</h4>
<div class="row">
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.PIPELINE}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.CYCLE_CLOCK_DIAGRAM}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.REGISTERS}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.MEMORY}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.CODE}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.STATISTICS}"></ng-container>
</div>
<hr>

<h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.IDE' | translate }}</h4>
<div class="row">
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.FILE_MANAGER}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.EDITOR}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.MULTIVIEW}"></ng-container>
</div>
<hr>

<h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.UTILS' | translate }}</h4>
<div class="row">
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.CALCULATOR}"></ng-container>
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.DOCUMENTATION}"></ng-container>
</div>


<h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.CONFIG' | translate }}</h4>
<div class="row">
  <ng-container [ngTemplateOutlet]="card"
                [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.CONFIG}"></ng-container>
</div>

<ng-container *ngIf="AppConfig.environment === 'DEV'">
  <h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.DEBUG' | translate }}</h4>
  <div class="row">
    <ng-container [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.DEBUG}"></ng-container>
    <ng-container [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.LOGGER}"></ng-container>
    <ng-container [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{item:PRIVATE_AUTH_ROUTES.PROFILE}"></ng-container>
  </div>
</ng-container>

<!--
<h4 class="mb-2 mt-4">{{ 'PAGES.INDEX.PAGES' | translate }}</h4>
<div class="row">
  <ng-container *ngFor="let item of PRIVATE_AUTH_ROUTES">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h4>{{ ("NAVIGATION." + item.lang) | translate }}</h4>
          <p>{{ item.displayName }}</p>
        </div>
        <div class="icon">
          <i class="{{item.icon}}"></i>
        </div>
        <a class="small-box-footer" [routerLink]="item.routerLink">
          {{ 'PAGES.INDEX.MORE_INFO' | translate }} <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </ng-container>
</div>
-->
<!--  </div>-->
<!--</div>-->
