<div class="wrapper">
  <!-- Navbar -->
  <app-auth-navbar></app-auth-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-aside-left></app-aside-left>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ 'PAGES.HOME.TITLE' | translate }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a (click)="log('TODO')">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v2</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">

      <ng-container [ngTemplateOutlet]="recursiveMenu" [ngTemplateOutletContext]="{ $implicit: [PRIVATE_ROUTES] }">
      </ng-container>
      <ng-template #recursiveMenu let-menus>
        <ul *ngIf="menus.length>0">
          <li *ngFor="let menu of menus;">
            <!-- href="{{ menu.routerLink }}"  -->
            <a (click)="onItemSelected($event, menu)">
              {{menu.displayName}} </a>
            <ng-template [ngIf]="menu.children">
              <ng-container [ngTemplateOutlet]="recursiveMenu"
                            [ngTemplateOutletContext]="{ $implicit: menu.children }"></ng-container>
            </ng-template>
          </li>
        </ul>
      </ng-template>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!--  <app-aside-right></app-aside-right>-->
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-footer></app-footer>
</div>
