<ng-container *ngIf="isReadOnly() === true">
  <div id="bg-lock">
    <i class="fas fa-lock"></i>
  </div>
</ng-container>

<td-code-editor
  [style.height.vh]="height"
  editorStyle="border:0; overflow: hidden;"
  flex
  theme="thumderTheme"
  language="thumderLanguage"
  [editorOptions]="EDITOR_OPTIONS_THUMDER"
  [(ngModel)]="editorFile.content"
  (ngModelChange)="callBackFunc($event)"
  (editorInitialized)="editorInitialized($any($event))"
  (editorConfigurationChanged)="editorConfigurationChanged()"
  (editorLanguageChanged)="editorLanguageChanged()"
  (editorValueChange)="editorValueChange()">
</td-code-editor>

