<ng-container *ngIf="authService.isLoggedIn === true">
  Login but isLoggedIn
</ng-container>

<div class="register-page">
  <div class="register-box">
    <div class="register-logo">
      <h2>{{ 'TITLE' | translate }}</h2>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">{{ 'ACCOUNT.REGISTER_A_NEW_MEMBERSHIP' | translate }}</p>

        <form [formGroup]="registerForm">

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Full name" id="userName"
                   autocomplete="name" name="name"
                   [class.is-valid]="registerForm.get('first_name').valid"
                   [class.is-invalid]="!registerForm.get('first_name').valid"
                   formControlName="first_name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let error of error_messages.first_name">
            <div class="error-messages" *ngIf="registerForm.get('first_name').hasError(error.type)">
              <p> {{ error.message }} </p>
            </div>
          </ng-container>

          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" id="userEmail"
                   autocomplete="email" name="email"
                   [class.is-valid]="registerForm.get('email').valid"
                   [class.is-invalid]="!registerForm.get('email').valid"
                   formControlName="email" #userEmail>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.email">
              <div class="error-message" *ngIf="registerForm.get('email').hasError(error.type)">
                <p>{{ error.message }}</p>
              </div>
            </ng-container>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" id="newPassword"
                   autocomplete="new-password" name="new-password"
                   [class.is-valid]="registerForm.get('password').valid"
                   [class.is-invalid]="!registerForm.get('password').valid"
                   formControlName="password" #userPwd>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.password">
              <div class="error-message" *ngIf="registerForm.get('password').hasError(error.type)">
                <p>{{ error.message }}</p>
              </div>
            </ng-container>
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password" id="confirmNewPassword"
                   autocomplete="new-password" name="confirm-new-password"
                   [class.is-valid]="registerForm.get('confirm_password').valid"
                   [class.is-invalid]="!registerForm.get('confirm_password').valid"
                   formControlName="confirm_password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="error-messages">
            <ng-container *ngFor="let error of error_messages.confirm_password">
              <div class="error-message" *ngIf="registerForm.get('confirm_password').hasError(error.type)">
                <p>{{ error.message }}</p>
              </div>
            </ng-container>
          </div>

          <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid"
                      (click)="authService.SignUp(userEmail.value, userPwd.value)">{{ 'ACCOUNT.REGISTER' | translate }}
              </button>
            </div>
          </div>
        </form>


        <ng-container *ngIf="!electronService.isElectronApp">
          <div class="social-auth-links text-center">
            <p>-</p>
            <a class="btn btn-block btn-danger" (click)="this.GoogleAuth()">
              <i class="fab fa-google-plus mr-2"></i> {{ 'ACCOUNT.SIGN_IN_USING_GOOGLE' | translate }}
            </a>
            <a class="btn btn-block btn-primary" (click)="this.GithubAuth()">
              <i class="fab fa-github mr-2"></i> {{ 'ACCOUNT.SIGN_IN_USING_GITHUB' | translate }}
            </a>
          </div>
        </ng-container>

        <p class="mt-3 mb-1">
          <a [routerLink]="['/account/login']" class="text-center">
            {{ 'ACCOUNT.I_ALREADY_HAVE_A_MEMBERSHIP' | translate }}
          </a>
        </p>

        <div class="row mt-3 mb-1" *ngIf="app.translationEnabled">
          <div class="col-12">
            <div class="dropdown">
              <button class="btn btn-info btn-block dropdown-toggle" type="button"
                      id="dropdownMenuButton_lang" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                {{ 'CONFIG.LANG' | translate }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton_lang">
                <a class="dropdown-item" (click)="app.setLang('sp')">
                  <span class="flag-icon flag-icon-esp"></span>
                  Spanish
                </a>
                <a class="dropdown-item" (click)="app.setLang('en')">
                  <span class="flag-icon flag-icon-gbr"></span>
                  English
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>


      <ng-container *ngIf="showSpinner">
        <div class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </ng-container>

    </div>
  </div>
</div>

