<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']"
         class="text-blueGray-700 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
         href="#thumder">
        THUMDER
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center"
         [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
         id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
             [routerLink]="['/docs']">
            <i class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"></i>
            Docs
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
             [routerLink]="['/home']">
            <i class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"></i>
            Home
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
             [routerLink]="['/pixi']">
            <i class="text-blueGray-400 far fa-file-alt text-lg leading-lg mr-2"></i>
            Pixi
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
             [routerLink]="['/monaco']">
            <i class="text-blueGray-400 far fa-file-code text-lg leading-lg mr-2"></i>
            Monaco
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
             [routerLink]="['/charts']">
            <i class="text-blueGray-400 far fa-chart-bar text-lg leading-lg mr-2"></i>
            Charts
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
