<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <!-- Drag button -->
      <ng-content></ng-content>

      <span data-card-widget="collapse">{{'NAVIGATION.CALCULATOR' | translate}}</span>
    </h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="card-body input-font-family-console">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="byte_value">{{ 'TYPE_DATA.BYTE' | translate }}</label>
          <input type="number" class="form-control" id="byte_value"
                 step="1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary08_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="byte_hex">{{ 'TYPE_DATA.BYTE' | translate }}</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="byte_hex" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary08_Hexadecimal"
                   (ngModelChange)="binary08_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="byte_binary">{{ 'TYPE_DATA.BYTE' | translate }}</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">0b</span>
            </div>
            <input type="text" id="byte_binary" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="binary08_Binary"
                   (ngModelChange)="binary08_Binary=$event">
            <div class="input-group-append">
              <span class="input-group-text">in binary</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="halfword_value">{{ 'TYPE_DATA.HALF_WORD' | translate }}</label>
          <input type="number" class="form-control" id="halfword_value"
                 step="1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary16_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="halfword_hex">{{ 'TYPE_DATA.HALF_WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="halfword_hex" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary16_Hexadecimal"
                   (ngModelChange)="binary16_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="halfword_binary">{{ 'TYPE_DATA.HALF_WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0b</span>
            </div>
            <input type="text" class="form-control" id="halfword_binary"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="binary16_Binary"
                   (ngModelChange)="binary16_Binary=$event">
            <div class="input-group-append">
              <span class="input-group-text">in binary</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="word_value">{{ 'TYPE_DATA.WORD' | translate }} Uint</label>
          <input type="number" class="form-control" id="word_value" step="1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary32_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="word_hex">{{ 'TYPE_DATA.WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="word_hex" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary32_Hexadecimal"
                   (ngModelChange)="binary32_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="word_binary">{{ 'TYPE_DATA.WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0b</span>
            </div>
            <input type="text" id="word_binary" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="binary32_Binary"
                   (ngModelChange)="binary32_Binary=$event">
            <div class="input-group-append">
              <span class="input-group-text">in binary</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="word_value_int">{{ 'TYPE_DATA.WORD' | translate }} Int</label>
          <input type="number" id="word_value_int" class="form-control"
                 step="1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary32Int_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="word_hex_int">{{ 'TYPE_DATA.WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="word_hex_int" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary32Int_Hexadecimal"
                   (ngModelChange)="binary32Int_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="word_binary_int">{{ 'TYPE_DATA.WORD' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0b</span>
            </div>
            <input type="text" id="word_binary_int" class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="binary32Int_Binary"
                   (ngModelChange)="binary32Int_Binary=$event">
            <div class="input-group-append">
              <span class="input-group-text">in binary</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 32 bits -->
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="ieee754_number">{{ 'TYPE_DATA.IEEE754' | translate }}</label>
          <input type="number" class="form-control" id="ieee754_number"
                 step="0.1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary32_IEEE754_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="ieee754_hex">{{ 'TYPE_DATA.IEEE754' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="ieee754_hex"
                   class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary32_IEEE754_Hexadecimal"
                   (ngModelChange)="binary32_IEEE754_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="ieee754_binary">{{ 'TYPE_DATA.IEEE754' | translate }}</label>
          <div class="input-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">0b</span>
              </div>
              <input type="text" class="form-control" id="ieee754_binary"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="binary32_IEEE754_Binary"
                     (ngModelChange)="binary32_IEEE754_Binary=$event">
              <div class="input-group-append">
                <span class="input-group-text">in binary</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 64 bits   -->
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="ieee754_number_64">{{ 'TYPE_DATA.IEEE754_64' | translate }}</label>
          <input type="number" id="ieee754_number_64" class="form-control" step="0.1"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="binary64_IEEE754_Value">
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label for="ieee754_hex_64">{{ 'TYPE_DATA.IEEE754_64' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0x</span>
            </div>
            <input type="text" id="ieee754_hex_64"
                   class="form-control"
                   [ngModelOptions]="{standalone: true}"
                   [ngModel]="binary64_IEEE754_Hexadecimal"
                   (ngModelChange)="binary64_IEEE754_Hexadecimal=$event">
            <div class="input-group-append">
              <span class="input-group-text">in hexadecimal</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="form-group">
          <label for="ieee754_binary_64">{{ 'TYPE_DATA.IEEE754_64' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">0b</span>
            </div>
            <input type="text" class="form-control" id="ieee754_binary_64"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="binary64_IEEE754_Binary"
                   (ngModelChange)="binary64_IEEE754_Binary=$event">
            <div class="input-group-append">
              <span class="input-group-text">in binary</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="card-footer">

  </div>
</div>
