/* You can add global styles to this file, and also import other style files */
html {
  overflow-y: scroll;
  font-size: 0.9em;
}

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  width: 100% !important;
}

#ide {
  padding-top: 0.5em;
}

#ide-monaco-editor-container {
  min-height: 400px;
}

.monaco-editor {
  height: 800px !important;
  width: 100%;
  position: relative !important;
}

.debug-line {
  background: aquamarine;
}

.color-red {
  color: red;
}

.like-pre::first-line {
  line-height: 0;
}

.like-pre {
  text-align: left;
  white-space: pre-line;
}


.btn--active {
  color: #495057 !important;
}

.width-05 {
  width: 5% !important;
}

.width-10 {
  width: 10% !important;
}

.width-15 {
  width: 15% !important;
}

.width-20 {
  width: 20% !important;
}

.width-30 {
  width: 30% !important;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50% !important;
}

.width-60 {
  width: 60% !important;
}

.width-70 {
  width: 70% !important;
}

.width-80 {
  width: 80% !important;
}

.width-90 {
  width: 90% !important;
}

.width-100 {
  width: 100% !important;
}

.stage-IF {
  background-color: #fffe04;
}

.stage-ID {
  background-color: #ffa200;
}

.stage-EX {
  background-color: #ff001b;
}

.stage-intEX {
  background-color: #ff001b;
}

.faddEX_1, .faddEX_2, .faddEX_3, .faddEX_4, .faddEX_5, .faddEX_6, .faddEX_7, .faddEX_8 {
  background-color: #ff001b;
}

.fmultEX_1, .fmultEX_2, .fmultEX_3, .fmultEX_4, .fmultEX_5, .fmultEX_6, .fmultEX_7, .fmultEX_8 {
  background-color: #ff001b;
}

.fdivEX_1, .fdivEX_2, .fdivEX_3, .fdivEX_4, .fdivEX_5, .fdivEX_6, .fdivEX_7, .fdivEX_8 {
  background-color: #ff001b;
}

.stage-MEM {
  background-color: #01ff1b;
}

.stage-WB {
  background-color: #a2a2ff;
}

.stage- {

}

.text-monospace {
  font-family: monospace;
  white-space: pre;
}

.font-family-monospace {
  font-family: monospace;
}

.full-width-table {
  width: 100%;
}

.mat-header-cell {
  background-color: #ffffff;
}


@media(min-width: 576px) {
  .invisible-sm {
    display: none !important;
  }

  .visible-lg-xl-table-cell {
    display: none !important;
  }
}

@media(min-width: 768px) {
  .invisible-md {
    display: none !important;
  }

  .visible-lg-xl-table-cell {
    display: none !important;
  }
}

@media(min-width: 992px) {
  .invisible-lg {
    display: none !important;
  }

  .visible-lg-xl-table-cell {
    display: table-cell !important;
  }
}

@media(min-width: 1200px) {
  .invisible-xl {
    display: none !important;
  }

  .visible-lg-xl-table-cell {
    display: table-cell !important;
  }
}


.wrapper-table {
  height: 300px;
}

.table-layout {
  width: 100%;
  table-layout: fixed;
  font-family: monospace;
}

.binValue {
  line-height: 2em;
  font-family: monospace;
}

// Underline

span.underline-text {
  position: relative;
  width: auto;
  height: 15px;
}

span.underline-text:after {
  position: absolute;
  //content: attr(data-subscript-line);
  content: "section";
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  border-top: 1px solid black;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
}

// Page Calculator

.input-font-family-console input {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

// modal-p-bottom


.modal-p-bottom {
  // &.show{
  //   overflow: hidden;
  // }
  .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100% !important;
    margin: 0;
    transform: translateY(100%) !important;

    .modal-content {
      border-radius: .3rem .3rem 0 0;
    }
  }

  &.show {
    overflow: hidden;

    .modal-dialog {
      transform: translateY(0%) !important;
      min-height: 80px;
    }

  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list {
  min-height: 64px;
  display: block;
  overflow: hidden;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box .card-header {
  cursor: move;
}

.example-custom-placeholder {
  min-height: 64px;
  width: 100%;
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder-registers {
  background: #ccc;
  border: dotted 3px #999;
  width: 100%;
  min-height: 256px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-group-list-drag {
  min-height: 30px;
  display: block;
  overflow: hidden;
}

.form-group-list-drag.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-check-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 30px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#card-debug {
  position: fixed;
  width: 50%;
  top: 4em;
  left: 4em;
  z-index: 2000;

  .card-body {
    overflow-y: scroll;
    height: 20em;
  }

  .card-font-console {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    white-space: pre;
    font-size: 0.75em;
  }
}

markdown img {
  max-width: 50%;
}
