/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  width: 100% !important;
}

#ide {
  padding-top: 0.5em;
}

#ide-monaco-editor-container {
  min-height: 400px;
}

.monaco-editor {
  height: 800px !important;
  width: 100%;
  position: relative !important;
}

.debugLine {
  background: aquamarine;
}

.color-red {
  color: red;
}

.like-pre::first-line {
  line-height: 0;
}

.like-pre {
  white-space: pre-line;
}
