<div class="container  px-4 mx-auto">

  <div class="flex flex-wrap">
    <div class="w-12/12 px-4">

      <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </h1>
      <a [routerLink]="['/detail']">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>

      <button (click)="log()"
              class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button">
        Log
      </button>

      <button (click)="getSelected()"
              class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              type="button">
        Get Selected
      </button>

    </div>
  </div>

</div>

