<div class="wrapper">
  <!-- Navbar -->
  <THUMDER-admin-navbar></THUMDER-admin-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <THUMDER-aside-left></THUMDER-aside-left>
  <!-- /.aside-left-sidebar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ 'PAGES.HOME.TITLE' | translate }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">

            <THUMDER-breadcrumb></THUMDER-breadcrumb>

          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <main class="content">


      <!-- THIS IS THE IMPORTANT -->
      <router-outlet></router-outlet>


    </main>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <THUMDER-aside-right></THUMDER-aside-right>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <THUMDER-footer></THUMDER-footer>
</div>
